@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    overflow: hidden;
}

/*PAGINA DE INICIO*/
.header{
    width: 100%;
    min-height: 120px;
    background: #ffffff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header .informacion{
    width: 30%;
    height: 110px;
}
.header .informacion img{
    width: 100%;
    height: 100%;
}
.redes-sociales i{
    color: white;
    font-size: 1.5rem;
}
.redes-sociales{
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.redes-sociales i{
    color: white;
}
/**/
nav{
    width: 100%;
    background-color: #06b0af;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border-top: 10px solid #ea555a;
    position: relative;
}
nav .contenedor-nav-inicio{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    font-weight: 900;
    transition: all .5s;
}
nav a:hover{
    background: #006666;
}

/*NAV ICONO*/
.logo-icono{
    font-size: 2rem;
    color: white;
    display: none;
    z-index: 7;
}
.contenedor-nav-inicio.active{
    color: #06b0af;
}
nav.sticky{
    border-bottom: .1rem solid rgba(255, 255, 255, 0.2);
}
/* logo icono X */
.logo-close{
    font-size: 1.7rem;
    color: white;
    display: none;
}



/*PAGINA CONTACTO*/
.section-contact{
    width: 100%;
    min-height: 55vh;
    padding: 5rem 6rem 2rem 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;

}
.article-school{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(228, 228, 227);
    border-radius: 40px;
    padding: 2rem 1rem;
}
.article-school img{
    width: 200px;
    height: 200px;
}
.article-school p{
    text-align: center;
    padding: 1rem 0px;
    font-family: "Playfair Display", serif;
}
/**/
.article-description{
 
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.article-description .section-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.article-description .section-description h2,
.article-description .section-description p{
    padding-bottom: 1rem;
    text-align: center;
}
.article-description .section-phone{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.article-description .section-schedules{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem 0px;
}
.article-description .section-networks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-networks .networks i{
    font-size: 35px;
    padding: 0px 1rem;
}
.section-networks h2,
.article-description .section-schedules h2{
    padding: .5rem 0px;
}


/*FORMULARIO*/
/*SECCION FORMULARIO Y MAPA*/
.section-form{   /*----     contenedor mapa y formulario    ----*/
    width: 100%;
    min-height: 50vh;
    display: grid;
    align-items: center;
    padding: 1rem .5rem;
    overflow: hidden;
    overflow-x: hidden;
}

.container-contact-form{
    width: 85%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.container-form{
    width: 100%;
    height: auto;
    flex: 50%;
    text-align: center;
    padding: 1rem;
}
.section-form .container-contact-form h2{
    text-align: left;
    background: #ea555a;
    padding: 1rem 1rem;
    color: white;
}
.container-form form{
    width: 100%;
    height: 100%;
    padding: 1rem 0px;
    text-align: left;
}




/*caja padre inputs*/
form .container-inputs{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1rem;
    margin: 1rem 0px;
}

.container-inputs .div-input{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    font-size: .9rem;
    border: 1px solid rgb(206, 206, 206);
}
.container-inputs .div-input input{
    outline: none;
    border: none;
    font-size: .9rem;
    padding: 0px .3rem;
}
.div-input i{
    border-right: 1px solid rgb(206, 206, 206);
    color: rgb(206, 206, 206);
    padding: .44rem .5rem;
}
.container-inputs .div-input-phone{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(206, 206, 206);
}
.container-inputs .div-input-phone input{
    font-size: .9rem;
    outline: none;
    border: none;
    padding: 0px .3rem;
}
.div-input-phone i{
    padding: .44rem .5rem;
    border-right: 1px solid rgb(206, 206, 206);
    color: rgb(206, 206, 206);
}
/*---------------*/
form .div-input-textarea{
    margin: 1rem 0px;
}
.div-input-textarea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 1rem 0px;
    border: 1px solid rgb(206, 206, 206);
}
.div-input-textarea textarea{
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    padding: .5rem;
    font-size: .9rem;
}
.div-input-textarea i{
    padding: .44rem .5rem;
    border-right: 1px solid rgb(206, 206, 206);
    color: rgb(206, 206, 206);
}
/*-------BOTONES FORMULARIO---------*/

form .div-button .button{
    padding: 1rem 1.5rem;
    margin-left: 2rem;
    background: #ea555a;
    border: none;
    font-size: 1rem;
    color: white;
    transition: all 500ms;
    border-radius: 10px;
}
form .div-button .button:hover{
    background:#06b0af ;
    font-size: #fff;
}
/*UBICACION*/
.section-location{
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 1rem;
}
 .container-location{
    width: 100%;
    height: 100%;
}
.container-location iframe{
    width: 100%;
    height: 500px;
}



/*======================*/
.slider-end{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: end;
    justify-content: center;
    background: #283048;
    background: white;
    padding-top: 1rem;
}
.container-carousel{
    width: 100%;
    height: 170px;
    overflow: hidden;
    position: relative;
}
.carruseles{
    width: 255%;
    height: 100%;
    display: flex;
}
.slider-section img{
    width: 300px;
    height: 100%;
}
.slider-section{
    width: calc(100% / 5);
    height: 100%;
}

/*======    nav-footer    ======*/
.nav-footer{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: #001868;
}
.nav-footer article{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-footer h2,
.nav-footer a{
    color: white;
    font-size: 2.5rem;
    text-decoration: none;
    font-family: "Playfair Display", serif;
}


/*====  INICIO-FOOTER   =======*/
.footer-iniciotwoo{
    width: 100%;
    min-height: 40vh;
    background-color: #f3f3f3;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 2rem 5rem;
    justify-content: center;
}
.footer-iniciotwoo article h2{
    color: #001868;
    font-size: 1.6rem;
    font-family: "Playfair Display", serif;
    margin-bottom: 1.2rem;
}
.footer-iniciotwoo article{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    
}
.footer-iniciotwoo article h3,
.footer-iniciotwoo article a{
    color: black;
    text-decoration: none;
    padding-top: .5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
.footer-iniciotwoo .footerone img{
    width: 230px;
    height: 100%;
}
.footer-iniciotwoo .footer-contact button{
    background: none;
    border: none;
    border: 2px solid #001868;    
    padding: 1rem 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 500ms;
}
.footer-iniciotwoo .footer-contact button:before,
.footer-iniciotwoo .footer-contact button::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: -50%;
    background-color: #001868; /* color de fondo hover */
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.footer-iniciotwoo .footer-contact button:after {
    left: 100%;
}
.footer-iniciotwoo .footer-contact button:hover {
    color: #fff; /* color de fuente hover */
}
.footer-iniciotwoo .footer-contact button:hover:before {
    left: 0;
}
.footer-iniciotwoo .footer-contact button:hover:after {
    left: 50%;
}


/**/
.grupo-2{
    display: grid;
    place-content: center;
    width: 100%;
    height: 10vh;
    color: white;
    background: #000b2e;
}


/*  MEDIA QUERY     */
/*MEDIA QUERY 1159*/
@media (max-width: 1159px){
    nav a{
        padding: 2rem 1rem;
    }
}

/*=========*/
@media (max-width: 911px){
    .header .informacion{
        width: 40%;
        height: 110px;
    }
    
}
@media (max-width: 475px){
    .header .informacion{
        width: 70%;
        height: 110px;
    }
}
@media (max-width: 925px){
    .redes-sociales{
        display: none;
    }
}
@media (max-width: 523px){
    .header .informacion{
        width: 60%;
        height: 110px;
    }
}


@media (max-width: 749px){
    .enlaces{
        display: flex;
        justify-content: space-between;

    }
    nav .contenedor-nav-inicio{
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        width: 70%;
        height: 500vh;
        padding: 5rem 3rem;
        background: #06b0af;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: left;
        text-align: left;
        transition: all 500ms ease;
        transform: translateX(100%);
        transition: transform 500ms , visibilily 0 ms 500ms;
        visibility: hidden;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    }
    .contenedor-nav-inicio.active{
        display: block;
        transform: translateX(0%);
        transition: transform 500ms;
        visibility: visible;
    }
    nav .contenedor-nav-inicio a{
        display: flex;
    }
    .logo-icono{
        display: block;
        right: 2rem;
        position: absolute;
    }
    .redes-sociales{
        display: flex;
    }
    .logo-close{
        display: block;
        position: absolute;
        right: 2rem;
        top: 2rem;
    }

    .header .informacion{
        width: 55%;
        height: 110px;
    }
}


/*      banner principal    */
@media (max-width: 1100px){
    .article-school{
        width: 45%;
    }
}
@media (max-width: 853px){
    .section-contact{
        width: 100%;
        min-height: 60vh;
        padding: 4rem 1rem 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;

    }
    .article-school{
        width: 60%;
    }
}
@media (max-width: 645px){
    .article-school{
        width: 75%;
    }
}
@media (max-width: 543px){
    .article-school{
        width: 93%;
    }
}
@media (max-width: 471px){
    .section-contact{
        width: 100%;
        min-height: 55vh;
        padding: 2rem 1rem 0px 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
}




/*      SECCION FORMULARIO        */
/*      1281px        */
@media (max-width: 1281px){
    form .container-inputs{
        display: grid;
        grid-template-columns: repeat(1, 4fr);
        gap: 1rem;
        margin: 1rem 0px;
    }
}
@media (max-width: 903px){

    .section-location{
        width: 100%;
        height: auto;
        flex: 100%;
        padding: 1rem;
    }
}


/*---------------------------------------------------*/ 

@media (max-width: 655px){
    .slider-end{
        width: 100%;
        height: 25vh;
        display: flex;
        justify-content: center;
        align-items: end;
        background: #283048;
        background: white;
        margin-top: 1rem;
    }
    .container-carousel{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    .carruseles{
        width: 400%;
        height: 100%;
        display: flex;
    }
    .slider-section img{
        width: 190px;
        height: 100%;
    }
    .slider-section{
        width: calc(100% / 5);
        height: 100%;
    }
}
@media (max-width: 495px){
    .slider-end{
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: end;
        background: #283048;
        background: white;
        margin-top: 1rem;
    }
    .container-carousel{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    .carruseles{
        width: 400%;
        height: 100%;
        display: flex;
    }
    .slider-section img{
        width: 130px;
        height: 100%;
    }
    .slider-section{
        width: calc(100% / 5);
        height: 100%;
    }
}


/*----------------*/
/*          MEDIA QUERY FOOTER          */
@media (max-width: 911px){
    .nav-footer h2{
        font-size: 1.5rem;
    }
}
@media (max-width: 495px){
    .nav-footer{
        width: 100%;
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #001868;
    }
    .nav-footer h2{
        font-size: 2.5rem;
    }
    .nav-footer article{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}


/*       NAV FOOTER       */
@media (max-width: 897px){
    .nav-footer article{
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
@media (max-width: 649px){
    .nav-footer h2 .text-br{
        display: block;
    }
}
@media (max-width: 495px){
    .nav-footer{
        width: 100%;
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #001868;
    }
    .nav-footer h2{
        font-size: 2.5rem;
    }
    .nav-footer article{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
}

@media (max-width: 749px){
    /*footer responsive*/
    .footer-iniciotwoo{
        width: 100%;
        min-height: 40vh;
        background-color: #f3f3f3;
        color: white;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        padding: 2rem 1rem;
        justify-content: center;
    }
    .footer-iniciotwoo article{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;   
    }
    .footer-iniciotwoo .footer-contact button{
        width: 100%;
    }
    .header .informacion{
        width: 55%;
        height: 110px;
    }
}   